@import "bootswatch/materia/variables";

$font-size-base: 0.9rem;

$line-height-base: 2;

$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: 0.8rem;

$container-max-widths: (
  sm: 500px,
  md: 600px,
  lg: 760px,
  xl: 860px
);

@import "bootstrap/scss/bootstrap";
@import "bootswatch/materia/bootswatch";

h1, h2, h3, h4, h5 {
  margin: ($spacer-y * 2) 0;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}
